<app-header></app-header>
<div class="container mt-5">
    <h2 class="my-3 text-center">Solicitar Cotización</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-white p-3">
				<div class="form-group">
					<label for="note">Nota</label>
					<textarea id="note" class="form-control" rows="5" [(ngModel)]="note"></textarea>
				</div>
				<app-attachment-uploader (attachment_idChange)="onAttachmentIdChange($event)"></app-attachment-uploader>
				<button class="btn btn-primary mt-3" (click)="solicitarCotizacion()" [disabled]="is_loading">
					<span *ngIf="is_loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
					{{ is_loading ? 'Enviando...' : 'Enviar Solicitud' }}
				</button>
            </div>
        </div>
    </div>
</div>
