<app-header></app-header>
<div class="product-detail-container">
	@if (product) {
		<div class="product-card">
			<div class="product-image-carousel">
				<!--div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						@for(image of images; track image.id; let isFirst = $first){
							<div class="carousel-item" [class.active]="isFirst">
								<img [src]="image.url" class="d-block w-100" alt="Product Image">
							</div>
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div-->
				<img [src]="product.image_url || 'assets/placeholder-product.svg'" alt="Product Image">
			</div>
			<div class="product-info">
				<h1 class="product-name">{{ product.item.name }}</h1>
				<p class="product-category">{{ product.category?.name || 'N/A' }}</p>
				<p class="product-description">{{ product.item.description || 'No description available.' }}</p>
				@if (product.prices && product.prices.length > 0) {
					<p class="product-price">{{ product.prices[0].price | currency }}</p>
				}
				<button class="add-to-cart-button" (click)="addToCart(product.item.id)">
					Añadir al carrito
				</button>
			</div>
		</div>
	} @else {
		<p>Cargando detalles del producto...</p>
	}
</div>
