<app-header></app-header>
<div class="product-detail-container">
  @if (product) {
    <div class="product-card">
      <div class="product-image">
        @if (product.image_url) {
          <img [src]="product.image_url" alt="Product Image">
        } @else {
          <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <!-- Background -->
            <rect class="svg-background" width="100" height="100" [attr.fill]="main_color"/>
            <!-- Icon (Box) -->
            <g class="svg-icon" stroke-width="4" fill="none" stroke-linecap="round" stroke-linejoin="round" [attr.stroke]="font_color">
              <!-- Main box shape -->
              <path d="M25 45 L25 75 L75 75 L75 45 L50 30 L25 45 Z"/>
              <!-- Top flap -->
              <path d="M25 45 L50 60 L75 45"/>
              <!-- Vertical line on front -->
              <line x1="50" y1="75" x2="50" y2="60"/>
            </g>
          </svg>
        }
      </div>
      <div class="product-info">
        <h1 class="product-name">{{ product.item.name }}</h1>
        <p class="product-category">{{ product.category?.name || 'N/A' }}</p>
        <p class="product-description">{{ product.item.description || 'No description available.' }}</p>
        @if (product.prices && product.prices.length > 0) {
          <p class="product-price">{{ product.prices[0].price | currency }}</p>
        }
        <button class="add-to-cart-button" (click)="addToCart(product.item.id)">
          Añadir al carrito
        </button>
      </div>
    </div>
  } @else {
    <p>Cargando detalles del producto...</p>
  }
</div>
