<app-header></app-header>
<div class="container mt-5">
    <h2 class="app-page-title">
		Lista de Usuarios
		<a routerLink="/add-user" class="btn btn-primary" style="float: right;">Agregar Usuario</a>
	</h2>
	<div class="card bg-white p-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Email</th>
					<th>Teléfono</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				@for(user_info of ecommerce_user_info_list; track user_info; let i = $index){
				<tr>
					<th scope="row">{{ i + 1 }}</th>
					<td>{{ user_info.user.name }}</td>
					<td>{{ user_info.user.email }}</td>
					<td>{{ user_info.user.phone }}</td>
					<td>
						<a [routerLink]="[ '/edit-ecommerce-user', user_info.ecommerce_user.id ]" class="btn btn-primary btn-sm">Editar</a>
						<button (click)="deleteUser(user_info.ecommerce_user.id)" class="btn btn-danger btn-sm ms-2">Eliminar</button>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
