<app-header></app-header>
<div class="container mt-5">
  <h2>Artículos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item_info of c_item_info_list; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item_info.item.name }}</td>
        <td>{{ item_info.category?.name }}</td>
        <td>{{ item_info.ecommerce_item?.price | currency }}</td>
        <td>
          <button class="btn btn-info btn-sm">Ver</button>
          <button class="btn btn-primary btn-sm ms-2" (click)="abrirModalRoles(item_info)">Roles</button>
          <button class="btn btn-danger btn-sm ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Role Modal -->
<div class="modal" tabindex="-1" [ngStyle]="{'display': selected_item ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Roles para {{ selected_item?.item.name }}</h5>
        <button type="button" class="btn-close" (click)="cerrarModalRoles()"></button>
      </div>
      <div class="modal-body">
        <h6>Roles Asignados</h6>
		@for( ecommerce_item_role of ecommerce_item_role_info_list; track ecommerce_item_role.ecommerce_item_role.id )
		{
			<div class="row">
				<div class="col-md-8">
					{{ ecommerce_item_role.role.name }}
				</div>
				<div class="col-md-4 text-end">
					<button class="btn btn-danger btn-sm ms-2" (click)="eliminarRolDeArticulo(ecommerce_item_role)">✗</button>
				</div>
			</div>
			<hr>
		}
        <hr>
        <h6>Añadir Rol</h6>
        <div class="input-group">
          <select class="form-select" [(ngModel)]="selected_role_id">
            <option *ngFor="let role of all_roles" [value]="role.id">{{ role.name }}</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" (click)="agregarRolAArticulo()">Añadir</button>
        </div>
      </div>
    </div>
  </div>
</div>
