<div class="container-fluid login_background h-100">
	<div class="row h-100 align-items-center">
		<div class="col">
			<div class="container-fluid" style="max-width:400px;">
				<div class="card col-centered" style="background:rgba(255,255,255,0.9);">
					<div class="card-body ">
						<div id="formContent">
							<form (submit)="doLogin($event)" name="login_form" ngNativeValidate class="p-3">
								<div class="form-group mt-3">
									<h4 class="fw-bold text-center">Producción</h4>
									<div class="mb-3 text-center">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7z"/></svg>
									</div>
									<input name="username"
										   class="form-control"
										   type="text"
										   placeholder="usuario@ejemplo.com"
										   [(ngModel)]="username"
										   required />
								</div>
								<div class="form-group mt-3">
									<input name="password"
										   class="form-control"
										   type="password"
										   placeholder="Contraseña"
										   [(ngModel)]="password"
										   required />
								</div>
								<div class="text-end mt-3">
									<button type="button" class="btn btn-primary"  size="large" type="submit" [disabled]="is_loading">

										<span *ngIf="!is_loading">
											Login
										</span>

										<span *ngIf="is_loading">

											<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
											<span role="status">Loading...</span>
										</span>

									</button>

								</div>

							</form>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-centered">
						<div class="alert alert-danger" *ngIf="error_message" role="alert">{{error_message}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>