<div class="page-container">
	<div class="login-container">
		<div class="login-form">
			<!-- Your existing login form content goes here -->
			<h2>Login</h2>
			<form (ngSubmit)="doLogin($event)" ngNativeValidate>
				<div class="form-group">
					<label for="username">Usuario</label>
					<input type="text" id="username" name="username" [(ngModel)]="username" required>
				</div>
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input type="password" id="password" name="password" [(ngModel)]="password" required>
				</div>
				<button type="submit" class="login-button">Iniciar Sesión</button>
			</form>
		</div>
	</div>
	<footer class="py-3 mt-4 bg-white" style="">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item pt-1 px-3">
				<img src="assets/logoheader.png" alt="Logo" class="footer-logo">
			</li>
			<li class="nav-item px-3">
				<a href="/" class="nav-link px-2 text-body-secondary">Inicio</a>
			</li>
			<li class="nav-item px-3">
				<button (click)="openHelpModal($event)" class="nav-link px-2 text-body-secondary">Ocupas Ayuda</button>
			</li>
			<!--li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li-->
		</ul>
		<p class="text-center text-body-secondary">© 2025 Uniformes Profesionales</p>
	</footer>
</div>
<dialog #helpModal class="contact-help-modal">
	<app-contact-help (close)="closeHelpModal()"></app-contact-help>
</dialog>


