<app-header></app-header>

<div class="cart-container">
  <h2 class="cart-title">Carrito</h2>

  @if (cart_items.length > 0) {
    <div>
    <div class="cart-items">
        @for (item of cart_items; track item) {
          <div class="cart-item">
        <div class="item-image">
          <img [src]="item.image_url || 'assets/placeholder-product.svg'" alt="Product Image">
        </div>

        <div class="item-details">
          <h3 class="item-name">{{ item.name }}</h3>
          <p class="item-category">{{ item.category?.name || 'N/A' }}</p>
          <p class="item-price">{{ item.prices[0].price | currency }}</p>
        </div>

        <div class="item-quantity">
          <button class="quantity-btn" (click)="decrementQuantity(item)">−</button>
          <span class="quantity-value">{{ item.qty | number }}</span>
          <button class="quantity-btn" (click)="incrementQuantity(item)">+</button>
        </div>

        <div class="item-total">{{ item.prices[0].price * item.qty | currency }}</div>
      </div>
        }
    </div>

    <div class="cart-summary">
      <p class="subtotal">
        Subtotal ({{ total_qty }} artículos): <strong>{{ total | currency }}</strong>
      </p>
      <button class="order-button" (click)="confirmCheckout()">Finalizar Compra</button>
    </div>
  </div>
  }

  @if (cart_items.length === 0) {
    <div class="empty-cart">
    <p>🛒 Tu carrito de compras está vacío.</p>
    <a routerLink="/main" class="continue-shopping">Seguir comprando</a>
  </div>
  }
</div>
<dialog #confirmDialog class="confirm-dialog">
  <h2 class="confirm-dialog-title">Confirmar pedido</h2>
  <p class="confirm-dialog-message">¿Estás seguro de que deseas finalizar tu pedido?</p>
  <div class="button-container">
    <button class="confirm-dialog-button" (click)="createOrder()">Confirmar pedido</button>
    <button class="confirm-dialog-button" (click)="closeConfirmDialog()">Cancelar</button>
  </div>
</dialog>

<dialog #confirmDialog2 class="confirm-dialog">
  <h2 class="confirm-dialog-title">Confirmar pedido</h2>
  <p class="confirm-dialog-message">Orden Creada</p>
  <div class="button-container">
    <button class="confirm-dialog-button" (click)="closeConfirmDialog2()">Ok</button>
  </div>
</dialog>

