<app-header></app-header>

<div class="confirm-order-container">
  <h2 class="app-page-title">Confirmar Pedido</h2>
  <form (ngSubmit)="placeOrder()">
    <div class="address-section">
      <h3>Dirección de Envío</h3>
      @if(re_admin()){
        <div class="form-group">
          <label for="user_select">Seleccionar Usuario</label>
          <app-search-user (userSelected)="onUserSelected($event)"></app-search-user>
        </div>
      }
      <div class="form-group">
        <select id="shipping_address_select" name="shipping_address_select" [(ngModel)]="selected_shipping_address_id">
          @for(address of shipping_addresses; track address){
          <option [value]="address.id">{{ address.address }}</option>
          }
          <option value="new">Agregar Nueva Dirección</option>
        </select>
      </div>

      @if(selected_shipping_address_id === 'new'){
        <h4>Nueva Dirección de Envío</h4>
        <div class="form-group">
          <label for="new_shipping_address_name">Nombre</label>
          <input type="text" id="new_shipping_address_name" name="new_shipping_address_name" [(ngModel)]="new_shipping_address.name" required>
        </div>
        <div class="form-group">
          <label for="new_shipping_address_address">Dirección</label>
          <input type="text" id="new_shipping_address_address" name="new_shipping_address_address" [(ngModel)]="new_shipping_address.address" required>
        </div>
        <div class="form-group">
          <label for="new_shipping_address_phone">Teléfono</label>
          <input type="text" id="new_shipping_address_phone" name="new_shipping_address_phone" [(ngModel)]="new_shipping_address.phone" required>
        </div>
        <div class="form-group">
          <label for="new_shipping_address_note">Nota</label>
          <input type="text" id="new_shipping_address_note" name="new_shipping_address_note" [(ngModel)]="new_shipping_address.note">
        </div>
      }
    </div>

    <button type="submit" class="place-order-button">Realizar Pedido</button>
  </form>
</div>

<dialog #confirmDialog class="confirm-dialog">
  <h2 class="confirm-dialog-title">Confirmar pedido</h2>
  <p class="confirm-dialog-message">¿Estás seguro de que deseas finalizar tu pedido?</p>
  <div class="button-container">
    <button class="confirm-dialog-button" (click)="createOrder()">Confirmar pedido</button>
    <button class="confirm-dialog-button" (click)="closeConfirmDialog()">Cancelar</button>
  </div>
</dialog>

<dialog #confirmDialog2 class="confirm-dialog">
  <h2 class="confirm-dialog-title">Confirmar pedido</h2>
  <p class="confirm-dialog-message">Orden Creada</p>
  @if (order_id) {
    <p class="confirm-dialog-message">No. de Orden: {{ order_id }}</p>
  }
  <div class="button-container">
    <button class="confirm-dialog-button" (click)="closeConfirmDialog2()">Ok</button>
  </div>
</dialog>
